.container {
    display: grid;
    width: 400px;
    height: 500px; 
    grid-gap: 10px;
    grid-template-rows: 50px 50px;
    grid-template-columns: 100px 300px;
    padding: 5px;
    }
    
   
    
    .left {
    
        grid-row-start: 1;
        grid-row-end: 5;
        background-color: black;
    }
        
    .right {
    
        grid-row-start: 1;
        grid-row-end: 5;
        background-color: black;
        }