.container {
    display: grid;
    width: 400px;
    height: 500px; 
    grid-gap: 10px;
    grid-template-rows: 100px 100px;
    grid-template-columns: 100px 100px 100px;
    padding: 5px;
    }
    
   .top {
    
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 3;
   }
    
   .top-right {
    background-color: black;
    grid-column-start: 3;
    grid-column-end: 4;
   }
    .left {
    
        grid-row-start: 2;
        grid-row-end: 5;
        background-color: black;
    }

    .center {
    
        grid-row-start: 2;
        grid-row-end: 5;
        background-color: black;
        }
        
    .right {
    
        grid-row-start: 2;
        grid-row-end: 5;
        background-color: black;
        }